    
        .thumbnail{
        width: 100%;
            display: block;
        
        }
        .thumbnail-row{
            margin-bottom: 12px;
            position: relative;
        }
        
        .video-title{
           font-style: normal;
           font-weight: bold;
           margin-top: 0;
           font-size: 14px;
           line-height: 17px;
           margin-bottom: 10px;
        }
    
    .video-author{
        font-size: 12px;
        color: rgb(95, 92, 92);
        font-style: arial;
        margin-bottom: 6px;
    }
    .video-stats{
        font-size: 12px;
        color: rgb(87, 87, 87);
        font-style: arial;
    }
    .channel-picture{
      display: inline-block;
      width: 50px;
      vertical-align:top ;
      margin-top: 10px;
    
    }
    .video-info{
     display: inline-block;
     width: 200px;
     margin-top: 10px;
    }
    .profile-picture{
        width: 35px;
        border-radius: 100px;
      
    }
    .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
        
    }
  .video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 14px;
    row-gap: 40px;
    
  }
  @media(max-width: 750px){
   .video-grid {
     grid-template-columns: 1fr 1fr;
   }
  }
  @media(min-width: 1000px){
    .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .video-time{
    background-color: rgb(39, 38, 38);
    color: white;
    position: absolute;
    right: 5px;
    bottom: 8px;
    font-size: 12px;
    font-family: arial;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;

    
  }
  .thumbnail-row{
            margin-bottom: 8px;
            position: relative;
        }
  